
<div class="container">
<div class="jumbotron">

  <h1>Witaj!!!</h1>
  <p>Strona index</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn
  btn-default' %>
  <%= link_to 'Strona glowna', root_path, class: 'btn
  btn-primary' %>
  <%= link_to 'Kontakt', home_contact_path, class: 'btn
    btn-success' %>
  <%= link_to 'FAQ', home_faq_path, class: 'btn
    btn-info' %>
  </div>


</div>
